<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h2>Registration Form</h2>
<form action="#" th:action="@{/register}" th:object="${member}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required/>
    </div>
    <div>
        <label for="number">Phone Number:</label>
        <input type="text" id="number" th:field="*{number}" required/>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
    <div th:text="${message}" style="color:red;"></div>
</form>
</body>
</html>